@layout LayoutUser
@page "/userPages/pagesUserBooksReturn"

@using System.IO;
@using Services;
@using LibraryApp.Data
@using LibraryApp.Data.Library
@inherits OwningComponentBase<LiraryService>

@inject Tesseract Tesseract
@inject IFileReaderService fileReaderService;

<style>
        .@dropTargetClass {
            display: block;
            padding: 20px;
            margin-bottom: 10px;
            border: 1px dashed black;
            border-radius: 5px;
            position: relative;
        }
        .@dropTargetDragClass {
            border-color: orangered;
            font-weight: bold;
        }
        input.clickable {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            margin-top: -20px;
            margin-left: -20px;
            cursor: pointer;
        }
</style>

<h1>Return Book</h1>
<br />
<br />
<br />
<h2>@AppDataService.Instance.userSigned.Name Books</h2>
<br />

@if (myBooks == null)
{
    <!-- Show this if the current book has no data... yet... -->
    <p><em>Loading...</em></p>
}
else
{
    <!-- Show the forecasts for the current book -->
    <table class="table">
        <thead>
            <tr>
                <th>BookId</th>
                <th>BookName</th>
                <th>Isbn</th>
                <th>Author</th>
                <th>Date Lent</th>
                <th>Date Return</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic userBook in myBooks)
            {
                <tr>
                    <td>@userBook.BookId</td>
                    <td>@userBook.BookName</td>
                    <td>@userBook.Isbn</td>
                    <td>@userBook.Author</td>
                    <td>@userBook.DateLent.Date.ToShortDateString()</td>
                    <td>@userBook.DateReturn.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>

    @if (ShowPopup)
    {
        <!-- This is the popup to create or edit a book -->
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Edit Book</h3>
                        <!-- Button to close the popup -->
                        <button type="button" class="close" @onclick="ClosePopup">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <!-- Edit form for the current book -->
                    <div class="modal-body">
                        <input class="form-control" style="margin-bottom:5px; margin-top:5px" type="text" placeholder="Book Name" @bind="objBook.BookName" />
                        <input class="form-control" style="margin-bottom:5px; margin-top:5px" type="text" placeholder="Isbn" @bind="objBook.Isbn" />
                        <input class="form-control" style="margin-bottom:5px; margin-top:5px" type="text" placeholder="Author" @bind="objBook.Author" />
                        <br />

                        <!-- Button to save the book -->
                        <button style="margin-top:10px" class="btn btn-primary" @onclick="Save">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }

}

<br />
<br />
<br />
<br />
<br />
<h2>Uploading Image</h2>
<br />
    Upload photo of you wanna return back.

<div @ref=dropTargetElement
     @ondrop=OnDrop
     @ondragenter=OnDragEnter
     @ondragleave=OnDragLeave>
</div>

<br />
<br />
<div class="@IpDropClass">
    <input type="file" class="clickable" @ref=dropTargetInput @onchange="OnInputChange" @ondragenter=OnIpDragEnter @ondragleave=OnIpDragLeave multiple />
    Drop Files here or click me.

    @foreach (var fileInfo in IpFileList)
    {
        <br />@fileInfo.Name
    }
</div>
<button @onclick="ReadClick" class="btn btn-primary">Read file</button>
<button @onclick="ClearClick" class="btn btn-primary">Clear</button>
<br />

<br />
<br />
<textarea style="max-width: 100%;" cols="50" rows="20">@Output</textarea>

<br />
@foreach (string name in @imageName)
{
    <br />
    <img src="Images/@name" alt="Image" width="700" />
}
<br />
@foreach (string result in @ocrResult)
{
    <br />
<textarea style="max-width: 100%;" cols="90" rows="20">@result</textarea>
}

<br />
<br />
<br />
<br />
<br />
@foreach (string isbn in resultISBN)
{
    <p style="font-size:large"> ISBN : @isbn</p>
    <br />
}

@code {

}